<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <div class="input-group w-50 justify-content-center">
        <input type="search" class="form-control rounded" placeholder="# Pokemon" aria-label="Search" aria-describedby="search-addon" id="numPokemon" name="numPokemon" [(ngModel)]="numPokemon"/>
        <button type="button" class="btn btn-outline-primary"  (click)="getPokemon()">Buscar</button>
    </div>
</section>


<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column" style="height: 45vh;">
    <div class="card w-10 justify-content-center" *ngIf="view">
        <img src="{{ imgPokemon }}" class="card-img-top" alt="{{ namePokemon }}" style="width: 10vw;"/>
        <div class="card-body text-center">
          <h5 class="card-title text-capitalize">{{ namePokemon }}</h5>
          <p class="card-text">Description.</p>
          <button title="Add Pokemon al Equipo" class="btn btn-primary" (click)="addPokemonToMyTeam()">Agregar</button>
        </div>
    </div>
</section>

<section class="w-100 p-4 pb-4 d-flex justify-content-center align-items-center flex-column">
    <table class="table align-middle mb-0 bg-white w-75 justify-content-center">
        <thead class="bg-light">
            <th>Pokemon Descripcion</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let pokemon of myPokemonTeam">
            <td>
                <div class="d-flex align-items-center">
                <img
                    src="{{ pokemon.img }}"
                    style="width: 5vw; height: 10vh;"
                    />
                <div class="ms-3">
                    <p class="fw-bold mb-1 text-capitalize">{{ pokemon.name }}</p>
                    <p class="text-muted mb-0">Test</p>
                </div>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark" (click)="deletePokemonToMyTeam(pokemon.name)">Delete</button>
            </td>
            </tr>
        </tbody>
    </table>
</section>
